<h1 class="new">New Articles</h1>
<p><%=render 'form'%>
<p class="link"><%=link_to'Back',articles_path%></p>
</p>
<style>
  .new {
    text-align: center;
    color: #B00100;
  }
  p {
    text-align: center;
  }
    .link {
      text-align: center;
      text-decoration: none;
      font-size: 30px;
    }
</style>