<dl>
  <%= link_to 'login',users_url%>
  <%= link_to 'register',users_url%>
</dl>
<div>
  <h1>Welcome to My Blogs</h1>
  <h1>Author : yuanzhenXu</h1>
  <h1><%=link_to 'Myblog',controller:'articles'%></h1>
</div>
<style>
  div {
    padding: 20px;
    text-align: center;
    color: #B00100;
    font-size: 30px;
  }
   dl {
     float: right;
   }
</style>