<dl>
  <p><%=link_to 'sign up',controller:'users'%></p>
</dl>
<div>
  <h1>Welcome to Rails </h1>
  <h1>Author : yuanzhenXu</h1>
  <h1><%=link_to 'Myblog',controller:'articles'%></h1>
  <p><%= Time.now %></p>
</div>
