// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  text-align: center;
  text-decoration: none;
}
td {
  height: 50px;
  background-color: #B00100;
}
.comment {
  border: solid;
  padding: 1px;
  border-color: #B00100;
}
